*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}
